{% extends "base.html" %}

{% block content %}
<title>About Us</title>
<!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>About Us</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
</div>

<!-- <p>RPA Integrated RTA is made by a group of students as their Major Project for their final year at Temasek Polytechnic. 
    As continuation of a previous year student's project, we have integrated RPA into the scripts along with a GUI overhaul. 
    Entirely new scripts have also been added.</p>

<p>We would like to express our most profound appreciation to our Major Project Supervisor. 
    The smooth completion of this project would not have been possible without their valuable feedback and advice.</p> -->
<h1>
    <p style="font-family:'Courier New', Courier, monospace">
    Red Team Automation made simple. </p>
</h1>
<h1>Who are we:</h1>
<P>We are a group of cybersecurity students from Temasek Polytechnic. 
    RPA Integrated RTA is a red team automation tool that we developed for our final year project. </P>

<h1>What is RPA Integrated RTA:</h1>
<p>RTA Integrated RPA is essentially a red team automation tool developed to aid auditors in security testing. 
    However, this is different from other tools as Robotic Process Automation has been integrated into all the scanners. 
    Scanners were developed using Python programming and RPA with Python (TagUI) integration. 
    Tasks such as capturing a screenshot, writing information to files or even launching a PDF report after a 
    scan has all been automated with RPA. 
    Effectively minimising the user’s tasks to the minimum.</p>

<h1>Special Thanks:</h1>
<p>Project Supervisor, Mr Lim Chee Yong</p>
<p>Founder TagUI, Mr Ken Soh</p>
<p>Red Team Automation Solutions, Mr Chan Xiao Yong</p>
{% endblock %}