{% extends "base.html" %}

{% block content %}
<title>About Us</title>
<!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>About Us</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
</div>

<p>RPA Integrated RTA is made by a group of students as their Major Project for their final year at Temasek Polytechnic. As continuation of a previous year student's project, we have integrated RPA into the scripts along with a GUI overhaul. Entirely new scripts have also been added.</p>

<p>We would like to express our most profound appreciation to our Major Project Supervisor. The smooth completion of this project would not have been possible without their valuable feedback and advice.</p>

{% endblock %}