{% extends "base.html" %}

{% block content %}
<title>Admin Interface</title>
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Admin Scanner</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <h1>Admin Interface Scanner</h1>
  <hr>

  {% if error %}
    <b><p>ERROR: {{error}}</p></b>
  {% endif %}

  <form action="/admin-scannerRun" method="POST">
    Please enter target URL according to the recommended format:<br>
    Format: http://website.com/subdirectory/
    <br><br>
  	<label for="target">Target: </label>
  	<input name="target" id="target"> <br>
    <label for="email">Email to receive results (Optional): </label>
    <input name="email" id="email" type="email"> <br><br>
  	<input type="submit" value="Start Scan">
  </form>
  <h3>
  <p>
    The Admin Interface Scanner will detect vulnerable/exposed admin pages on websites.
  </p>
  </h3>
  <h3><b>About:</b></h3>
  <p>Admin Interface Scanner is a tool that scans through a website to locate admin interfaces with common directory names. The scanner will loop through a curated wordlist of commonly compromised admin names, and test connections towards the website. If a connection is opened with a name from the list, the script will detect that and show the results at the end of the scan.</p>
  <h3>Impact:</h3>
  <p>This vulnerability is under the OWASP Top 10 - Security Misconfigurations. Adversaries can potentially gain unauthorized access to the admin panel and alter configurations to negatively impact the website.</p>
{% endblock %}