{% extends "base.html" %}

{% block content %}
<title>Clickjack Scanner</title>
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Clickjacking</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <h1>Clickjacking Scanner</h1>
  <hr>
  {% if error %}
    <b><p>ERROR: {{error}}</p></b>
  {% endif %}
  <form action="/clickjackRun" method="POST" enctype = "multipart/form-data">
    <!-- <label for="target">Targets: </label> -->
    Please save websites to a text (.txt) file. <br> And enter the name of the text file below.
    <br>
    <!-- <input name="file" type="file" id="target"> -->
    <input name="target" id="target">
  	<input type="submit" value="Start Scan">
  </form>
  <h3>Note:</h3>
  <h3>The scanner will detect for any clickjacking vulnerabilities within the website. Robotic Process Automation (RPA) Demonstration is available during the scan. However, due to limitations of the RPA tool, the user will need to access the file system to open the saved POC.</h3>
  <h3>About:</h3>
  <p>Clickjacking is an attack that tricks a user into clicking a webpage element which is invisible or disguised as another element. This can cause users to unwittingly download malware, visit malicious web pages, provide credentials or sensitive information, transfer money, or purchase products online.</p>
  <h3>Impact:</h3>
  <p>A common form of clickjacking involves mirroring a login and password form on a website. The user assumes that they're entering their information into a usual form but they're actually entering it in fields the hacker has overlaid on the UI. Hackers will target passwords, credit card numbers and any other valuable data they can exploit.</p>
{% endblock %}