{% extends "base.html" %}

{% block content %}
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Clickjacking</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <h1>Clickjacking Scanner</h1>
  <hr>
  <h3>Note:</h3>
  <h3>The scanner will detect for any clickjacking vulnerabilities within the website. Robotic Process Automation (RPA) Demonstration is available during the scan. However, due to limitations of the RPA tool, the user will need to access the file system to open the saved POC.</h3>
  <h3>About:</h3>
  <p>Cross-Site Scripting (XSS) is one of the most well known web application vulnerabilities. It even has a dedicated chapter in the OWASP Top 10 project and it is a highly chased vulnerability in bug bounty programs. The risk of a Cross-Site Scripting vulnerability can range from cookie stealing, temporary website defacement, injecting malicious scripts or reading sensitive page content of a victim user.</p>
  <h3>Impact:</h3>
  <p>A common form of clickjacking involves mirroring a login and password form on a website. The user assumes that they're entering their information into a usual form but they're actually entering it in fields the hacker has overlaid on the UI. Hackers will target passwords, credit card numbers and any other valuable data they can exploit.</p>
{% endblock %}