{% extends "base.html" %}

{% block content %}
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Clickjacking</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <h1>Clickjacking Scanner</h1>
  <h3>About:</h3>
  <p>Cross-Site Scripting (XSS) is one of the most well known web application vulnerabilities. It even has a dedicated chapter in the OWASP Top 10 project and it is a highly chased vulnerability in bug bounty programs. The risk of a Cross-Site Scripting vulnerability can range from cookie stealing, temporary website defacement, injecting malicious scripts or reading sensitive page content of a victim user.</p>
  <h3>Note:</h3>
  <p>Robotic Process Automation (RPA) Demonstration is available during the scan. However, due to limitations of the RPA tool, the user will need to click on the popup triggered by the script.</p>
{% endblock %}