{% extends "base.html" %}

{% block content %}
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>CSRF</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <br>
  <table>
  	<tr>
  		<th>URL</th>
  		<th>Form found?</th>
  		<th>Form potentially vulnerable?</th>
  		<th>PoC</th>
  	</tr>
  	{% for url in results["internal_urls"] %}
  	<tr>
		<td>{{url}}</td> <!-- URL -->
		<td>{% if url in results["form_urls"] %} {{"✅"}} {% else %} {{"❌"}} {% endif %}</td> <!-- Form found? -->
		<td>{% if url in results["vuln_forms"] %} {{"✅"}} {% else %} {{"❌"}} {% endif %}</td> <!-- Vulnerable? -->
		<td>{{results["generated_pocs"][url]}}</td> <!-- PoC -->
	</tr>
	{% endfor %}
  </table>

{% endblock %}