{% extends "base.html" %}

{% block content %}
<title>CSRF Scanner</title>
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Cross-Site Request Forgery</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <h1>Cross-Site Request Forgery Scanner</h1>
  <hr>
  {% if error %}
    <b><p>ERROR: {{error}}</p></b>
  {% endif %}
  <form action="/csrfRun" method="POST">
  	<label for="target">Target: </label>
    <input name="target" id="target" required> <br>
    <label for="userID">User ID: </label>
    <input name="userID" id="userID" required> <br>
    <label for="password">Password: </label>
    <input name="password" id="password" required> <br> <br>
  	<input type="submit">
  </form>
  <br>
<strong>
  <h3>
    <p>
      Please provide the login page to the web app as the Target URL.
      <br><br>
      This script will run an authenticated crawl through the website and find every form. It then checks if the form has
      a hidden input field or requires a token. If not, it is deemed as potentially vulnerable to CSRF. A Proof-of-Concept
       (PoC) is then generated and saved to the local file system for further manual testing.
    </p>
  </h3>
</strong>

<h3>About:</h3>
<p>
  Cross-Site Request Forgery (CSRF) is an attack that makes an authenticated user perform an action on a web application 
  unknowingly. This attack only works when the user is already authenticated on the web application.
</p>

<h3>Impact:</h3>
<p>
  If the attack is successfully executed, the victim will be forced to perform an unwanted action on their account, such as 
  the changing of password or transfer of funds.
</p>
{% endblock %}