<!doctype html>
<html>
	<head>
		<title>Home Page</title>
	</head>
	<body>
		<div>MPProject:
			<a href="/index">Home</a>
			<a href="/sqli">SQLI</a>
			<a href="/subdomain">Subdomain</a>
			<a href="/th-subdomain">Threaded-Subdomain</a>
			<a href="/admin-scanner">Admin Scanner</a>
			<a href="/clickjack">Clickjack</a>
			<a href="/xss">XSS</a>
			<a href="/sensitive-data">Sensitive Data</a>
			<a href="/link-extract">Link Exposure</a>
			<a href="/csrf">CSRF</a>
			<a href="/vuln-components">Vulnerable Components</a>
		</div>
		<hr>
	</body>
</html>