{% extends "base.html" %}

{% block content %}
<title>RPA Integrated RTA</title>
<!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
  <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
  <h1 class="w3-xxxlarge w3-text-red"><b>Welcome to our Major Project!</b></h1>
  <hr style="width:50px;border:5px solid red" class="w3-round">
</div>
<div style="margin-right: 40%">
	<h3>What is Red Team Automation?</h3>
	<hr>
	<p>
		Red teaming, in a cybersecurity context refers to the act of penetration testing, which aims to discover system
		weaknesses and vulnerabilities mainly on operational networks or infrastructure which can be potentially exploited by
		cyber attackers. However, these penetration tests need to be done at least once a year to ensure an adequate security
		posture.
	</p>

	  <br><br>

	<h3>What is the aim of this project?</h3>
	<hr>
	<p>
		This project aims at researching and developing Red Team Automation scripts which can be used to substitute
		the intensive manual procedures for penetration testing. This will aid Red Team auditors who must conduct frequent
		tests on organisation’s IT infrastructure, potentially producing accurate and consistent results in a shorter time
		frame. Red Team auditors can then use their time for more complex issues.
	</p>

	<br><br>

	<h3>What is Robotic Process Automation?</h3>
	<hr>
	<p>
		Robotic process automation (RPA) is a software technology that makes it easy to build, deploy, and manage software
		robots that emulate humans actions interacting with digital systems and software. Just like people, software robots
		can do things like understand what’s on a screen, complete the right keystrokes, navigate systems, identify and
		extract data, and perform a wide range of defined actions. But software robots can do it faster and more consistently
		than people, without the need to get up and stretch or take a coffee break.
	</p>
</div>
{% endblock %}