{% extends "base.html" %}

{% block content %}
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Script Automation</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <h3>Welcome to our Major Project!</h3>
  <hr>
  <p>Red teaming, in a cybersecurity context refers to the act of penetration testing, which aims to discover system weaknesses and vulnerabilities mainly on operational networks or infrastructure which can be potentially exploited by cyber attackers. However, these penetration tests need to be done at least once a year to ensure an adequate security posture. This project aims at researching and developing Red Team Automation scripts which can be used to substitute the intensive manual procedures for penetration testing. This will aid Red Team auditors who must conduct frequent tests on organisation’s IT infrastructure, potentially producing accurate and consistent results in a shorter time frame. Red Team auditors can then use their time for more complex issues.</p>
{% endblock %}