{% extends "base.html" %}

{% block content %}
<title>Link Extractor</title>
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Link Extractor</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  
  <h1>Link Extractor</h1>
  <hr>

  {% if error %}
  <p>{{error}}</p>
{% endif %}

  <form action="/link-extractorRun" method="POST">
    <label for="target">Target URL: </label>
    <input name="target" id="target">
    <input type="submit">
  </form>
  <br>

  <strong>
    <h3>Note:
      <p>
        This script will extract all internal and external links of a given website, this is helpful for users that want to 
        gather information about a website.
        <br>
        Robotic Process Automation (RPA) Demonstration is available during the test. The RPA tool will automatically save the 
        output of both the internal and external links into two files.
    </h3>
  </strong>

  <h3>About:</h3>
  <p>
    This Link Extractor script will extract all internal and external links which will help with website analysis and 
    search engine optimization.

    This link Extractor will help extract all links in a website and users can easily identify which links are useful or harmful 
    and remove them if neccessary to prevent unecessary trouble. 
  </p>

  <h3>Impact:</h3>
  <p>
  Having internal and external links in a website can lead to manipulative linking. These can lead to link penalties where some sites can get banned or removed 
  from popular search engines. Manipulative linking is where websites make use of external or internal links to purposefully boost their website's ranking
  without proper usage of the links. Popular search engines like google, will deem this as manipulative linking and ban the website and this will affect the 
  company or organisation's business or reputation.
  </p>
{% endblock %}