{% extends "base.html" %}

{% block content %}
<title>Scanner Reports</title>
<script type="text/javascript" src="/static/sorttable.js"></script>
<!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Scanner Reports</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
</div>

  <div class="w3-responsive">
    <table class="w3-table-all sortable">
    <tr>
        <th>Date</th>
        <th>Time (HH:MM:SS)</th>
        <th>Scanner Used</th>
        <th>File</th>
    </tr>
    {% for i in results["scanner"] %}
    <tr>
        <td>{{results["time1"][loop.index0]}}</td>
        <td>{{results["time2"][loop.index0]}}</td>
        <td>{{results["scanner"][loop.index0]}}</td>
        <td><a href="file://{{results['pdf_path'][loop.index0]}}">File</a></td>
    </tr>
  {% endfor %}
    </table>
{% endblock %}