{% extends "base.html" %}

{% block content %}
<title>Scanner Reports</title>
<script type="text/javascript" src="/static/sorttable.js"></script>
<!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Scanner Reports</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
</div>
<form action="/reportFilter" method="POST" enctype = "multipart/form-data">
    <select name="target" id="target">
      <option value="">Select Scan</option>
      <option value="SQLInjection">SQL Injection</option>
      <option value="Subdomain">Subdomain</option>
      <option value="AdminInterface">Admin Interface</option>
      <option value="Clickjacking">Clickjacking</option>
      <option value="CrossSiteScripting">Cross Site Scripting</option>
      <option value="SensitiveDataExposure">Sensitive Data Exposure</option>
      <option value="LinkExtractor">Link Extractor</option>
      <option value="CSRF">CSRF</option>
      <option value="VulnComponents">Vulnerable Components</option>
    </select>
    <!-- <input type="submit" value="Filter"> -->
    &nbsp;
    <select name="Filterdate" id="Filterdate">
        <option value="">Select Date</option>
        {% for i in results["filter_date"] %}
        <option value="{{results['filter_date'][loop.index0]}}">{{results["filter_date"][loop.index0]}}</option>
        {% endfor %}
      </select>
      &nbsp;
    <input type="submit" value="Filter">
</form>


  <br>
  <div class="w3-responsive">
    <table class="w3-table-all sortable">
    <tr>
        <th>Date</th>
        <th>Time (HH:MM:SS)</th>
        <th>Scanner Used</th>
        <th>File</th>
    </tr>
    {% if results["scanner"] == [] %} <!-- if empty -->
        <tr>
            <td>No previous scan results found!</td>
        </tr>
    {% else %} <!-- if pdfs found -->
        {% for i in results["scanner"] %}
        <tr>
            <td>{{results["time1"][loop.index0]}}</td>
            <td>{{results["time2"][loop.index0]}}</td>
            <td>{{results["scanner"][loop.index0]}}</td>
            <td><a href="file://{{results['pdf_path'][loop.index0]}}">File</a></td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
{% endblock %}