{% extends "base.html" %}

{% block content %}
<title>PDF Reports</title>
<!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>PDF Reports</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
</div>

  <div class="w3-responsive">
    <table class="w3-table-all">



    <tr>
        <th>Scanner Used</th>
        <th>Date</th>
        <th>Time</th>
        <th>PDF Link</th>
    </tr>
    {% for i in results["user"] %}
    <tr>
        <td>{{results["user"][loop.index0]}}</td>
        <td>{{results["time1"][loop.index0]}}</td>
        <td>{{results["time2"][loop.index0]}}</td>
        <td><a href="file://{{results['pdf_path'][loop.index0]}}">File</a></td>
        <!-- <td>{{results["pdf_path"][loop.index0]}}</td> -->
    </tr>
    <!-- <tr>
        <th>PDF SCAN REPORT</th>
        <th>DATE/TIME</th>
        <th>FILE PATH</th>
    </tr>      
    <tr>
        <td>{{results["user"]}}</td>
    </tr>

    <tr>
        <td>{{results["time1"]}}</td>
    </tr>

    <tr>
      <td><a href="file://{{results['pdf_path']}}">File</a></td>   -->
  {% endfor %}

    </table>


{% endblock %}