{% extends "base.html" %}

{% block content %}
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Sensitive Data</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <h1>Sensitive Data Exposure Detector</h1>
  <hr>

  {% if error %}
  <p>{{error}}</p>
{% endif %}

  <form action="/sensitive-dataRun" method="POST">
    <label for="target">Target URL: </label>
    <input name="target" id="target">
    <input type="submit">
  </form>
  <br>

  <strong>
    <h3>Note:
      <p>
        This script will test if a website's login page is prone to exposing sensitive data, this will be done through 
        checking of the error message shown after a failed login attempt.
        <br>
        Robotic Process Automation (RPA) Demonstration is available during the test. The RPA tool will automatically input
        a test value into the login fields and purposely forge a failed login attempt.
    </h3>
  </strong>

  <h3>About:</h3>
  <p>
    Sensitive data is any information that is meant to be protected from unauthorized access. These information can 
    include anything from personally identifiable information (PII), such as Social Security numbers, to banking information, 
    to login credentials. Sensitive data exposure occurs when an application, company, or other entity 
    inadvertently exposes personal data. 
    
    Sensitive data exposure occurs as a result of not adequately protecting a database where information is stored. 
    This might be a result of a multitude of things such as weak encryption, no encryption, software flaws, or when someone 
    mistakenly uploads data to an incorrect database.
  </p>

  <h3>Impact:</h3>
  <p>
  The potential impact of sensitive data exposure on an organization varies with the sensitivity of exposed data. For instance, 
  if a credit card is stolen, then the attacker can hurt you financially. But if your password is exposed, then there are chances 
  that your private data may be misused. In the case of your documents being lost, then the perpetrator can attempt in many ways 
  to pose as a victim or steal your identity.
  </p>
{% endblock %}