{% extends "base.html" %}

{% block content %}
<title>Scan Results</title>
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Subdomain Scanner</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <h2>File tested: {{target}}</h2>
  <br>
  <p>Summary of Results</p>
  <div class="w3-responsive">
    <table class="w3-table-all sortable">
    <tr>
        <th>Subdomain</th>
        <th>Result</th>
    </tr>
    {% if results["admin"] == [] %} 
    <tr>
        <td>{{target}}</td>
        <td>No Subdomains Detected</td>
    </tr>
    {% else %}
        {% for i in results["subdomain_tested"] %}
        <tr>
            <td>{{results["subdomain_tested"][loop.index0]}}</td>
            <td>{{results["subdomain_result"][loop.index0]}}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
  </div>
  <br>
  <p>Scan Report available for viewing (Right click > Open In New Tab > Click on URL and press Enter):</p>
  <p>{% for i in results["displayfile"] %}</p>
  <a href="file://{{i}}">PDF Report</a>
  {% endfor %}
{% endblock %}