{% extends "base.html" %}

{% block content %}
<title>Subdomain Scanner</title>
<!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
  <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
  <h1 class="w3-xxxlarge w3-text-red"><b>Subdomain Scanner</b></h1>
  <hr style="width:50px;border:5px solid red" class="w3-round">
</div>

<h1>Subdomain Scanner</h1>
<hr>
{% if error %}
  <b><p>ERROR: {{error}}</p></b>
{% endif %}
<!--CODE TO RUN SCRIPT-->
<form action="/subdomainRun" method="POST" enctype = "multipart/form-data">
  Please save websites to a text (.txt) file. <br> And enter the name of the text file below.
  <br>
  <input name="target" id="target">
  <input type="submit">
</form>
<br>
<strong>
  <h3>
    <p>
      This script will test which systems are exposed to the Internet and explore the full domain infrastructure of a
      website.
    </p>
  </h3>
</strong>

<h3>About:</h3>
<p>
  Finding subdomains is an important step in the information gathering phase of a penetration test. Subdomains are
  interesting because they point to various (less-known) applications and indicate different external network ranges
  used by the target company.

  Also, subdomains sometimes host 'non-public' applications (e.g. test, development, restricted) which are
  usually less secure than the public/official applications so they could be primary attack targets.
</p>

<h3>Impact:</h3>
<p>
  Subdomain takeover vulnerabilities occur when a subdomain is pointing to a service (e.g. GitHub pages, Heroku, etc.)
  that has been removed or deleted. This allows an attacker to set up a page on the service that was being used and
  point their page to that subdomain.

  As an attacker can make use of this stale DNS record to own the AWS S3 bucket or point to one's own GitHub pages to
  your (sub)domain, there is no longer in use by your organization. Therefore, it can be used to target innocent users,
  leaking their account details via XSS and phishing pages hosted on your companies' domains.

  In many cases, an attacker can easily steal a victim user's cookies via XSS if they are allowed on the subdomain, so
  that needs even less user interaction than usual phishing pages, which are set up to steal user credentials.
</p>

{% endblock %}