{% extends "base.html" %}

{% block content %}
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>CSRF</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  {% if error %}
  <p>{{error}}</p>
  {% endif %}
  <form action="/vuln-componentsRun" method="POST">
  	<label for="target">Target: </label>
    <input name="target" id="target" required> <br>
  	<input type="submit">
  </form>
{% endblock %}