{% extends "base.html" %}

{% block content %}
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>RPA Integrated RTA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Using components with known vulnerablities</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <br>
  <div class="w3-responsive">
    <table class="w3-table-all">
      <tr>
        <th>Script</th>
        <th>Version</th>
        <th>Component</th>
        <th>Detection</th>
        <th>Vulnerability Severity</th>
        <th>CVE</th>
        <th>Summary</th>
        <th>Issue</th>
        <th>Information</th>
    </tr>

    {% for js in results["jsOutput"] %}
    	<tr>
			<td>{{js}}</td> <!-- Script -->
			{% if results["jsOutput"][js] == [] %} <!-- If not vulnerable -->
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			{% else %} <!-- If vulnerable -->
				<td>{{results["jsOutput"][js][0]["version"]}}</td> <!-- Version -->
				<td>{{results["jsOutput"][js][0]["component"]}}</td> <!-- Component -->
				<td>{{results["jsOutput"][js][0]["detection"]}}</td> <!-- Detection -->
					{% for vulnerability in results["jsOutput"][js][0]["vulnerabilities"] %}
						{% if loop.index0 > 0 %}
							<td>-</td> <!-- Script -->
							<td>-</td> <!-- Version -->
							<td>-</td> <!-- Component -->
							<td>-</td> <!-- Detection -->
						{% endif %}
						<td>{{vulnerability["severity"]}}</td> <!-- Vulnerability Serverity -->
						<td>{% for cve in vulnerability["identifiers"]["CVE"] %} {{cve}} {% endfor %}</td> <!-- CVE -->
						<td>{{vulnerability["identifiers"]["summary"]}}</td> <!-- Summary -->
						<td>{{vulnerability["identifiers"]["issue"]}}</td> <!-- Issue -->
						<td>{% for link in vulnerability["info"] %} {{link}} {% endfor %}</td> <!-- Information -->
					</tr>
					<tr>
					{% endfor %}
			{% endif %}
		</tr>
	{% endfor %}


    </table>
  </div>

{% endblock %}